<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Songs</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist_path(artist) %></td>
      <td><%= artist.songs.size %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @artists %>